{% extends "base.html" %}

{% block main %}
    <h1>Consultation du livre : {{ selectedLivre.Titre }}</h1>

    <div class="card mt-4">
        <div class="card-body">

            <p><strong>Titre :</strong> {{ selectedLivre.Titre }}</p>
            <p><strong>Prix :</strong> {{ selectedLivre.Prix }} €</p>
            <p><strong>Auteur :</strong> {{ selectedLivre.auteur.Nom }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('getLivres') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>
{% endblock %}

