{% extends "base.html" %}

{% block main %}
    <h1>Liste des livres</h1>
    <p>Nombre de livre : {{ livres|length }}</p>
    {% if livres|length == 0 %}
        <p>Aucun livre trouvé.</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tire</th>
                <th>Prix</th>
                <th>Url</th>
                <th>Première Couverture</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for unLivre in livres %}
                <tr>
                    <td>{{ unLivre.idL }}</td>
                    <td>{{ unLivre.Tire }}</td>
                    <td>{{ unLivre.Prix }}</td>
                    <td> <a href = '{{ unLivre.Url}}'> </a>{{ unLivre.Url}} </td>
                    <td> <img src='{{ ../static/images/images/unLivre.Img }}' alt='Couverture' width='100'> </td>
                    <td>{{ unLivre.auteur.Nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}